<%- include("templates/header") %>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/style/pantry.css">

<!-- pantry ingredients list table -->
<div class="container d-flex align-items-center">
  <h2 class="mt-4 mb-3 flex-grow-1 custom-pad" id="my_pantry_title">My Pantry</h2>
  <h6 class="mt-4 mb-3">Add items</h6>
  <button id="modal-button" class="btn my-primary mt-2 custom-pad">
    <img src="/images/icon_add.png" style="width:23px; height:auto">
  </button>
</div>
<div class="table-responsive container">
  <table class="table table-sm table-light table-hover table-borderless text-center">
    <thead class="text-center table-danger">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Best Before</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < pantryItems.length; i++) { %>
        <tr>
          <td><%= pantryItems[i].food %></td>
          <td>
            <% 
              let bestBeforeDate = pantryItems[i].bestBeforeDate;
              let formattedDate;
              if (bestBeforeDate) {
                let date = pantryItems[i].bestBeforeDate; 
                let month = (date.getMonth() + 1).toString().padStart(2, '0');
                let day = date.getDate().toString().padStart(2, '0');
                let year = date.getFullYear();
                formattedDate = month + '-' + day + '-' + year;
              }
            %>
            <input id="date-<%= pantryItems[i].food %>" value="<%= formattedDate %>" onchange="updateBestBeforeDate('<%= pantryItems[i].food %>', this)" placeholder="Select date">
          </td>
          <td>
            <button id="<% pantryItems[i].food %>" data-itemid="<%= pantryItems[i].food %>" class="btn modal-body custom-remove-button" onclick="toggleSelection(this)">
              <img src="/images/icon_remove.png" style="width:23px; height:auto">
            </button>  
            </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <button type="button" class="btn btn-danger rounded-pill float-end" onclick="removeFromPantry()">Remove Selected Items</button>
</div>


<!-- Modal to add ingredients to pantry list -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-body-tertiary background py-2">
        <h2 class="modal-title" id="exampleModalLabel">Ingredients</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body my-primary">
        <% ingredients.forEach((category) => { %>
          <div class="container pb-2 px-0 mb-3 modal-background-primary custom-border">
            <h5 class="modal-header-primary px-2 py-2 custom-header-border" style="border-bottom: solid black">
              <%= category.category %>
              <% if (category.category === "Fruits & Vegetables") { %>
                <img src="/images/icon_fruitVege.png" style="width:23px; height:auto;">
              <% } else if (category.category === "Eggs/Dairy & Alternatives") { %>
                <img src="/images/icon_dairy.png" style="width:23px; height:auto">
              <% } else if (category.category === "Meats & Seafood") { %>
                <img src="/images/icon_proteins.png" style="width:23px; height:auto">
              <% } else if (category.category === "Grains & Pasta") { %>
                <img src="/images/icon_grains.png" style="width:23px; height:auto">
              <% } else if (category.category === "Sauces & Condiments") { %>
                <img src="/images/icon_condiments.png" style="width:23px; height:auto">
              <% } else if (category.category === "Sweeteners") { %>
                <img src="/images/icon_sugars.png" style="width:23px; height:auto">
              <% } else if (category.category === "Oils & Fat") { %>
                <img src="/images/icon_oils.png" style="width:23px; height:auto">
              <% } else if (category.category === "Beverages") { %>
                <img src="/images/icon_drinks.png" style="width:23px; height:auto">
              <% } else if (category.category === "Herbs & Spices") { %>
                <img src="/images/icon_herbs.png" style="width:23px; height:auto">
              <% } else if (category.category === "Canned Goods") { %>
                <img src="/images/icon_canned.png" style="width:23px; height:auto">
              <% } else if (category.category === "Beans") { %>
                <img src="/images/icon_beans.png" style="width:23px; height:auto">
              <% } else if (category.category === "Nuts & Seeds") { %>
                <img src="/images/icon_nuts.png" style="width:23px; height:auto">
              <% } else if (category.category === "Peppers") { %>
                <img src="/images/icon_chilli.png" style="width:23px; height:auto">
              <% } else if (category.category === "Berries") { %>
                <img src="/images/icon_berries.png" style="width:23px; height:auto">
              <% } else if (category.category === "Miscellaneous") { %>
                <img src="/images/icon_misc.png" style="width:23px; height:auto">
              <% }
              %>
            </h5>
            
            <!-- button to display more ingredients for each food category -->
            <div class="container mx-2">
              <% for (let i = 0; i < Math.min(9, category.ingredients.length); i++) { %>
                <% if (!pantryItems.some(item => item.food === category.ingredients[i])) { %>         
                  <button class="btn custom-ingredient-button rounded-pill mt-1 mb-1" id="<%= category.ingredients[i] %>" onclick="toggleSelection(this)"><%= category.ingredients[i] %></button>
                <% } %>
              <% } %>
              <% if (category.ingredients.length > 9) { %>
                <button class="btn custom-showMore-button show-more-btn rounded-pill">Show More</button>
                <div class="hidden-ingredients" style="display: none;">
                  <% for (let i = 9; i < category.ingredients.length; i++) { %>
                    <% if (!pantryItems.some(item => item.food === category.ingredients[i])) { %>    
                      <button class="btn custom-ingredient-button rounded-pill mt-1 mb-1" id="<%= category.ingredients[i] %>" onclick="toggleSelection(this)"><%= category.ingredients[i] %></button>
                    <% } %>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
      
      <div class="modal-footer modal-header-primary">
        <button type="button" class="btn close-button rounded-pill" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary add-button rounded-pill" onclick="saveToPantry()">Add to Pantry</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  let username = '<%= username %>';
</script>
<script src="/js/pantry.js"></script>

<%- include("templates/footer") %>