<%- include("templates/header") %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <br>
        <title>Recipes</title>
        <style>
            .center {
                text-align: center;
            }

            .card {
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;
            }

            .card h2 {
                margin-top: 0;
            }

            .card p {
                margin: 0;
            }

            /* Modal styles */
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
            }

            .modal-content {
                background-color: #fefefe;
                margin: 15% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }

            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1 class="center">Recipes</h1>
            <% for (let recipe of recipes) { %>
                <div class="card">
                    <% const images=recipe.Images.split(', ');
           const firstImage = images[0].replace(/"/g, '').replace(/^c\(/, '');
        %>
        <img src="<%= firstImage %>" alt="<%= recipe.Name %>"> <br>
        <h2 class="center">
            <%= recipe.Name %>
        </h2>
        <!-- Button that triggers the modal -->
        <button class="w-100 btn btn-lg btn-warning mt-3"
            onclick="document.querySelector(' #modal-<%=recipe.RecipeId %>').style.display='block'">More</button>
                        <!-- Modal that displays the ingredients and instructions -->
                        <div id="modal-<%= recipe.RecipeId %>" class="modal">
                            <div class="modal-content">
                                <span class="close"
                                    onclick="document.getElementById('modal-<%= recipe.RecipeId %>').style.display='none'">&times;</span>
                                <h2>
                                    <%= recipe.Name %>
                                </h2>
                                <p><strong>Ingredients:</strong></p>
                                <ul>
                                    <% const
                                        ingredients=recipe.RecipeIngredientParts.split(', ');
                       for (let i = 0; i < ingredients.length; i++) {
                         let ingredient = ingredients[i].replace(/"/g, '');
                         if (i === 0) {
                           // Remove the "c(" prefix from the first ingredient
                           ingredient = ingredient.replace(/^c\(/, '');
                         }
                         if (i === ingredients.length - 1) {
                           // Remove the ")" from the last ingredient
                           ingredient = ingredient.replace(/\)$/, '');
                         }
                    %>
                    <li><%= ingredient %></li>
                    <% } %>
                </ul>
                <p><strong>Instructions:</strong></p>
                <ol>
                    <% const instructions=recipe.RecipeInstructions.replace(/\\n/g, '' ).replace(/^c\(/, '' ).replace(/\)$/, '' ).split(/", "/);
                           for (let i = 0; i < instructions.length; i++) {
                             let instruction = instructions[i].replace(/" /g, '' ); %>
                    <li>
                        <%= instruction %>
                    </li>
                    <% } %>
                </ol>
            </div>
        </div>
    </div>
    <% } %>
</body>
</div>
<%- include("templates/footer") %>

<script>
    const modals = document.querySelectorAll(' .modal'); let modal; modals.forEach(modalElement => {
        modal = modalElement;

        const closeBtn = modal.querySelector('.close');

        closeBtn.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        window.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });
    });
</script>

    </html>