<%- include("templates/header") %>
    <link rel="stylesheet" href="/style/recipe.css">
    <h1 class="center">Recipes</h1>

    <!-- Filter buttons -->
    <div class="center">
        <label>
            <input type="checkbox" name="keywords" id="veganCheckbox" value="Vegan" onchange="filterRecipes()" <% if
                (userDietaryRestrictions.includes('Vegan')) { %>checked<% } %>>
                Vegan
        </label>
        <label>
            <input type="checkbox" name="keywords" id="lactoseFreeCheckbox" value="Lactose Free"
                onchange="filterRecipes()" <% if (userDietaryRestrictions.includes('Lactose Free')) { %>checked<% } %>>
                Lactose Free
        </label>
        <label>
            <input type="checkbox" name="keywords" id="yeastFreeCheckbox" value="Yeast Breads"
                onchange="filterRecipes()" <% if (userDietaryRestrictions.includes('Yeast Breads')) { %>checked<% } %>>
                Yeast Free
        </label>
        <label>
            <input type="checkbox" name="keywords" id="nutFreeCheckbox" value="Nuts" onchange="filterRecipes()" <% if
                (userDietaryRestrictions.includes('Nuts')) { %>checked<% } %>>
                Nut Free
        </label>
    </div>

    <div id="recipeCards">
        <% for (let recipe of recipes) { %>
            <div class="card" data-keywords="<%= recipe.Keywords %>">
                <% if (recipe.Images) { %>
                    <% const images=recipe.Images.split(', ');
                    const firstImage = images[0].replace(/"/g, '').replace(/^c\(/, '');%>
        <img src="<%= firstImage %>" alt="<%= recipe.Name %>"> <br>
        <% } %>
        <h2 class="center"><%= recipe.Name %></h2>
        <!-- Button that triggers the modal -->
        <button class="w-100 btn btn-lg btn-warning mt-3" onclick="document.querySelector(' #modal-<%=recipe._id %>').style.display='block'">More</button>
            <!-- Modal that displays the ingredients and instructions -->
                <div id="modal-<%= recipe._id %>" class="modal">
                    <div class="modal-content">
                        <span class="close"
                            onclick="document.getElementById('modal-<%= recipe._id %>').style.display='none'">&times;</span>
                        <h2>
                            <%= recipe.Name %>
                        </h2>
                        <p><strong>Ingredients:</strong></p>
                        <ul>
                            <% const
                                ingredients=recipe.RecipeIngredientParts.split(', ');
        for (let i = 0; i < ingredients.length; i++) {
            let ingredient = ingredients[i].replace(/"/g, '');
            if (i === 0) {
            // Remove the "c(" prefix from the first ingredient
                ingredient = ingredient.replace(/^c\(/, '');
            }
            if (i === ingredients.length - 1) {
            // Remove the ")" from the last ingredient
                ingredient = ingredient.replace(/\)$/, '');
            }
            %>
            <li><%= ingredient %></li>
            <% } %>
            </ul>
            <p><strong>Instructions:</strong></p>
            <ol>
            <% const instructions = recipe.RecipeInstructions.replace(/\\n/g, '').replace(/^c\(/, '').replace(/\)$/, '').split(/", "/);
            for (let i = 0; i < instructions.length; i++) {
                let instruction = instructions[i].replace(/" /g, ''); %>
            <li><%= instruction %></li>
            <% } %>
            </ol>
        </div>
        </div>
    </div>
<% } %>
</div>
<script src="js/recipe.js"></script>
<%- include("templates/footer") %>