<%- include("templates/header") %>
    <link rel="stylesheet" href="/style/recipe.css">

    <h1 class="center m-4">Recipes</h1>
    <!-- search bar -->
    <div class="center container mb-4">
        <form action="/recipe" method="GET" class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <input type="text" name="search" placeholder="Search recipes..." class="form-control">
                <button type="submit" class="btn btn-warning ms-2">Search</button>
            </div>
        </form>
    </div>
    <!-- EJS template rendering for recipe cards -->
    <div class="center container">
        <div id="recipeCards container" class="recipe-cards">
            <% for (let recipe of paginatedRecipes) { %>
                <!-- Start of individual recipe card -->
                <div class="card" data-keywords="<%= recipe.Keywords %>">
                    <% if (recipe.Images) { %>
                        <% const images=recipe.Images.split(', ');
                const firstImage = images[0].replace(/"/g, '').replace(/^c\(/, '');%>
        <div class="recipe-card">
          <!-- Recipe image container -->
          <div class="recipe-image-container">
            <img src="<%= firstImage %>" alt="<%= recipe.Name %>" class="recipe-image">
          </div>
          <!-- Recipe name -->
          <h2 class="center"><%= recipe.Name %></h2>
          <!-- Button that triggers the modal -->
          <button class="more-button btn btn-lg btn-warning mt-3" onclick="document.querySelector('
                            #modal-<%=recipe._id %>').style.display='block'">
                            More
                            </button>
                </div>
                <% } %>

                    <!-- Modal that displays the ingredients and instructions -->
                    <div id="modal-<%= recipe._id %>" class="modal">
                        <div class="modal-content">
                            <span class="close"
                                onclick="document.getElementById('modal-<%= recipe._id %>').style.display='none'">&times;</span>
                            <h2>
                                <%= recipe.Name %>
                            </h2>
                            <!-- Ingredients list -->
                            <p><strong>Ingredients:</strong></p>
                            <ul>
                                <% const ingredients=recipe.RecipeIngredientParts.split(', ');
              for (let i = 0; i < ingredients.length; i++) {
                let ingredient = ingredients[i].replace(/"/g, '');
                if (i === 0) { 
                  ingredient = ingredient.replace(/^c\(/, ''); // Remove the "c(" prefix from the first ingredient
                }
                if (i === ingredients.length - 1) { 
                  ingredient = ingredient.replace(/\)$/, ''); // Remove the ")" from the last ingredient
                }
              %>
              <li><%= ingredient %></li>
            <% } %>
            </ul>
            <!-- Instructions list --> 
            <p><strong>Instructions:</strong></p>
            <ol>
              <% const instructions = recipe.RecipeInstructions.replace(/\\n/g,'').replace(/^c\(/, '').replace(/\)$/, '').split(/", "/);
                for (let i = 0; i < instructions.length; i++) {
                  let instruction = instructions[i].replace(/" /g, '');%>
              <li><%= instruction %></li>
              <% } %>
            </ol>
          </div>
        </div>
      </div>
  <% } %>
</div>
  <br />

  <!-- Pagination section -->
  <div class="pagination justify-content-center">
    <!-- Previous page button -->
    <% if (currentPage> 1) { %>
    <a href="/recipe?page=<%= currentPage - 1 %>" class="btn btn-warning page ml-1 numberedButtons">Prev</a> <% } %>

    <!-- Page number buttons -->
    <%const startPage=Math.max(1, currentPage - 2);
      const endPage=Math.min(totalPages, startPage + 4);
      for (let i=startPage; i<=endPage; i++) {
        if (i===currentPage) { 
          %>
    <button class="btn btn-warning page ml-1 numberedButtons active" value="<%= i %>"><%= i %></button>
    <% } else { %>
      <!-- Inactive page button -->
    <a href="/recipe?page=<%= i %>" class="btn btn-warning page ml-1 numberedButtons" value="<%= i %>"><%= i %></a>
    <% }
  } %>

    <!-- Next page button -->
    <% if (currentPage < totalPages) { %>
    <a href="/recipe?page=<%= currentPage + 1 %>" class="btn btn-warning page ml-1 numberedButtons">Next</a>
    <% } %>
  </div>
</div>

<%- include("templates/footer") %>